html {
    font-size: 16px;
}
body {
    background-color: var(--background-color);
    color: var(--color);
    font-family: var(--font-family-base);
}

a {
    color: var(--color-link);
}

button {
    color: var(--color);
}