html {
    font-size: 16px;
}
body {
    background-color: var(--background-color);
    color: var(--color-primary);
    font-family: var(--font-family-base);
}

a {
    color: var(--color-link);
    text-underline-offset: var(--text-underline-offset);
}

button {
    color: var(--color-primary);
}